 .u-section-1 {
  background-image: none;
  min-height: 1962px;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 11px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1576px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  min-height: 1172px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 70px auto 0 51px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 40px auto 0 51px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 25px auto 0 51px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 25px auto 0 51px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 25px auto 0 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1576px;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 21px 0;
}

.u-section-1 .u-group-2 {
  min-height: 72px;
  width: 1348px;
  margin: 11px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-group-3 {
  min-height: 1346px;
  width: 1348px;
  margin: 38px 146px 0 30px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-search-1 {
  width: 684px;
  min-height: 56px;
  margin: 51px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 35px;
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 0 auto 0 347px;
  padding: 2px 12px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: -33px auto 0 51px;
  padding: 2px 12px;
}

.u-section-1 .u-group-5 {
  min-height: 190px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: normal;
  margin: -145px auto 0 204px;
}

.u-section-1 .u-text-8 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 0 auto 0 204px;
}

.u-section-1 .u-text-9 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 0 auto 0 204px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.75rem;
  background-image: none;
  margin: -51px 182px 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.75rem;
  background-image: none;
  margin: -41px 70px 0 auto;
}

.u-section-1 .u-group-6 {
  min-height: 104px;
  margin-top: 182px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 34px auto 0 596px;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px auto 0;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px 596px 0 auto;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 11px 146px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1645px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 1px);
  }


  .u-section-1 .u-layout-cell-1 {
    min-height: 1300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1300px;
  }

  .u-section-1 .u-group-2 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-group-3 {
    width: 710px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 253px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 39px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 39px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 534px;
  }

  .u-section-1 .u-group-3 {
    width: 534px;
  }

  .u-section-1 .u-search-1 {
    width: 534px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 153px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 153px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 153px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 353px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
  }

  .u-section-1 .u-search-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-search-1 {
    width: 320px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 94px;
  }
}