<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.style-mapper">
<!-- 
ID       NOT NULL NUMBER         
IMG      NOT NULL VARCHAR2(2000) 
CONTENT  NOT NULL CLOB           
RGDATE   NOT NULL DATE           
BOOKMARK          NUMBER         
USER_ID  NOT NULL NUMBER  
 -->
  <!-- 목록 출력 -->
  <select id="styleListData" resultType="StyleVO">
    SELECT style_id, img, content, TO_CHAR(rgdate, 'YYYY-MM-DD HH24:MI:SS') as dbday, bookmark, user_id, rcount, num
    FROM (SELECT style_id, img, content, rgdate, bookmark, user_id, rcount, rownum as num
    FROM (SELECT /*+ INDEX_ASC(style_2 pk_style_2)*/ style_id, img, content, rgdate, bookmark, user_id, rcount
    FROM style_2)) ORDER BY style_id desc
  </select>
 
  <!-- 삽입 --> 
  <insert id="styleInsert" parameterType="StyleVO">
    INSERT INTO style_2(style_id, content, img, user_id) 
    VALUES ((SELECT NVL(MAX(style_id)+1,1) FROM style_2),
    #{content}, #{img}, (SELECT NVL(MAX(user_id)+1,1) FROM style_2))
  </insert>
  
  <!-- 조회수 올리기 -->
<!--   <update id="hitIncrement" parameterType="int">
    UPDATE project_freeboard SET
    hit=hit+1
    WHERE no=#{no}
  </update>  --> 
  
  <!-- 상세보기 -->
  <select id="styleDetailData" resultType="StyleVO" parameterType="int">
    SELECT style_id, img, content, TO_CHAR(rgdate, 'YYYY-MM-DD HH24:MI:SS') as dbday, bookmark, user_id, rcount
    FROM style_2
    WHERE style_id=#{style_id}
  </select>
  
  <!-- 태그 -->
  <select id="styleTagData" resultType="StyleVO" parameterType="string">
     SELECT *
     FROM style_2
     WHERE UPPER(content) LIKE UPPER('%'||#{tag}||'%')
     ORDER BY style_id DESC
   </select>
  
</mapper>