 .u-section-1 {
  min-height: 1809px;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 11px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1549px);
  margin: -11px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1809px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  min-height: 684px;
  width: 303px;
  margin: 0 13px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 62px 63px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 51px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 37px auto 0 51px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1809px;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 21px 0;
}

.u-section-1 .u-group-2 {
  min-height: 66px;
  width: 1348px;
  margin: 9px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-group-3 {
  min-height: 206px;
  width: 1348px;
  height: auto;
  margin: 7px auto 0 30px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 149px 17px 0 auto;
  padding: 10px 14px;
}

.u-section-1 .u-group-4 {
  width: 788px;
  height: 174px;
  margin: -180px auto 0 1px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: 17px auto 0 30px;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 7px auto 0 30px;
  padding: 0;
}

.u-section-1 .u-text-14 {
  margin: 7px 24px 0;
}

.u-section-1 .u-group-5 {
  min-height: 1116px;
  width: 1348px;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-form-1 {
  height: 157px;
  margin: 0 782px 0 0;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-size: 1rem;
  height: 50px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2534px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 940px) / 2) + 1px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1098px;
  }

  .u-section-1 .u-group-1 {
    width: 162px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1098px;
  }

  .u-section-1 .u-group-2 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-group-3 {
    width: 710px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    min-height: 211px;
    width: 710px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
  }

  .u-section-1 .u-group-5 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 144px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 593px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 534px;
  }

  .u-section-1 .u-group-3 {
    width: 534px;
  }

  .u-section-1 .u-group-4 {
    width: 534px;
  }

  .u-section-1 .u-group-5 {
    width: 534px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 693px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
  }

  .u-section-1 .u-group-4 {
    width: 520px;
  }

  .u-section-1 .u-group-5 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-group-4 {
    width: 320px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-5 {
    width: 320px;
  }
}