 .u-section-1 {
  min-height: 1911px;
}

.u-section-1 .u-list-1 {
  width: 410px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: 410px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1958px;
  margin: -11px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1800px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-1 .u-group-1 {
  min-height: 684px;
  width: 303px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 62px 63px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 51px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 37px auto 0 51px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1828px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-1 .u-group-2 {
  min-height: 224px;
  width: 1348px;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  background-image: url("images/profile2.png");
  background-position: 50% 50%;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -160px auto 0 215px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 0 auto 0 215px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px auto 0 215px;
  padding: 10px 14px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 342px;
  padding: 10px 14px;
}

.u-section-1 .u-group-3 {
  min-height: 240px;
  width: 1348px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 100px 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: -24px auto 0 39px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 15px auto 0 304px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -36px auto 0 964px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 0 auto 0 338px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: -36px auto 0 998px;
}

.u-section-1 .u-group-4 {
  min-height: 240px;
  width: 1348px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 100px 0 auto;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: -24px auto 0 39px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 3px auto 0 304px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: -36px auto 0 964px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: 0 auto 0 338px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  margin: -36px auto 0 998px;
}

.u-section-1 .u-group-5 {
  min-height: 467px;
  width: 1348px;
  margin: 11px auto 0 30px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 0 auto 0 39px;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -11px 100px 0 auto;
}

.u-section-1 .u-list-3 {
  width: 1141px;
  margin: 0 auto 0 45px;
}

.u-section-1 .u-repeater-3 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 375px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-37 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-41 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

.u-section-1 .u-group-6 {
  min-height: 495px;
  width: 1348px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  margin: 3px 1144px 0 39px;
}

.u-section-1 .u-text-45 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -14px 100px 0 auto;
}

.u-section-1 .u-list-4 {
  width: 1141px;
  margin: 11px auto 0 39px;
}

.u-section-1 .u-repeater-4 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 375px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-47 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px;
}

.u-section-1 .u-image-7 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-49 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-50 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-51 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px;
}

.u-section-1 .u-image-8 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-53 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-54 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px;
}

.u-section-1 .u-image-9 {
  width: 200px;
  height: 200px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-55 {
  font-weight: 700;
  margin: 9px auto 0 41px;
}

.u-section-1 .u-text-56 {
  font-weight: 700;
  margin: 0 auto 0 41px;
}

.u-section-1 .u-text-57 {
  font-weight: 700;
  margin: 0 166px 0 39px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1450px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 864px;
  }

  .u-section-1 .u-group-1 {
    width: 162px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 864px;
  }

  .u-section-1 .u-group-2 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 526px;
  }

  .u-section-1 .u-group-4 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 526px;
  }

  .u-section-1 .u-group-5 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-list-3 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 233px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 545px;
    margin-left: 0;
  }

  .u-section-1 .u-list-4 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-4 {
    min-height: 309px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-51 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-54 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-57 {
    margin-right: 4px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 672px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 534px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 162px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-3 {
    width: 534px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 382px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 396px;
  }

  .u-section-1 .u-group-4 {
    width: 534px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 382px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 396px;
  }

  .u-section-1 .u-group-5 {
    width: 534px;
  }

  .u-section-1 .u-list-3 {
    width: 534px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 701px;
  }

  .u-section-1 .u-group-6 {
    width: 534px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 369px;
  }

  .u-section-1 .u-list-4 {
    width: 534px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 947px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
  }

  .u-section-1 .u-text-57 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 772px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 372px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 386px;
  }

  .u-section-1 .u-group-4 {
    width: 520px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 372px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 386px;
  }

  .u-section-1 .u-group-5 {
    width: 520px;
  }

  .u-section-1 .u-list-3 {
    width: 520px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-6 {
    width: 520px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 355px;
  }

  .u-section-1 .u-list-4 {
    width: 520px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 229px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 238px;
  }

  .u-section-1 .u-group-4 {
    width: 320px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 229px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 238px;
  }

  .u-section-1 .u-group-5 {
    width: 320px;
  }

  .u-section-1 .u-list-3 {
    width: 320px;
  }

  .u-section-1 .u-group-6 {
    width: 320px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 155px;
  }

  .u-section-1 .u-list-4 {
    width: 320px;
  }
}