 .u-section-1 {
  min-height: 2152px;
}

.u-section-1 .u-list-1 {
  width: 410px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: 410px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1549px);
  margin: -11px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1809px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-1 .u-group-1 {
  min-height: 684px;
  width: 303px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 62px 63px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 51px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 37px auto 0 51px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1809px;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 21px;
}

.u-section-1 .u-group-2 {
  min-height: 224px;
  width: 1348px;
  margin: 27px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  background-image: url("images/profile2.png");
  background-position: 50% 50%;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: -160px auto 0 215px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 0 auto 0 215px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px auto 0 215px;
  padding: 10px 14px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 342px;
  padding: 10px 14px;
}

.u-section-1 .u-group-3 {
  min-height: 240px;
  width: 1348px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 100px 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: -24px auto 0 39px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 15px auto 0 304px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: -36px auto 0 964px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 0 auto 0 338px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: -36px auto 0 998px;
}

.u-section-1 .u-group-4 {
  min-height: 240px;
  width: 1348px;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 100px 0 auto;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: -24px auto 0 39px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 3px auto 0 304px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: -36px auto 0 964px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: 0 auto 0 338px;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: -36px auto 0 998px;
}

.u-section-1 .u-group-5 {
  min-height: 467px;
  width: 1348px;
  margin: 11px auto 0 30px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  margin: 0 auto 0 39px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -11px 100px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: 26px auto 0 388px;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 976px;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 94px;
}

.u-section-1 .u-image-5 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 682px;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  margin: 0 auto 0 94px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: -36px auto 0 388px;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  margin: -36px auto 0 682px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: -36px auto 0 976px;
}

.u-section-1 .u-text-37 {
  font-weight: 700;
  margin: 0 auto 0 94px;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: -36px auto 0 682px;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  margin: -36px auto 0 976px;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  margin: -36px auto 0 388px;
}

.u-section-1 .u-text-41 {
  font-weight: 700;
  margin: 0 1203px 0 92px;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: -36px 909px 0 386px;
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  margin: -36px 615px 0 680px;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  margin: -36px 321px 0 974px;
}

.u-section-1 .u-group-6 {
  min-height: 467px;
  width: 1348px;
  margin: 0 0 0 30px;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-45 {
  font-weight: 700;
  margin: 0 auto 0 39px;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -11px 100px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 200px;
  height: 200px;
  margin: 26px auto 0 388px;
}

.u-section-1 .u-image-7 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 976px;
}

.u-section-1 .u-image-8 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 94px;
}

.u-section-1 .u-image-9 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 682px;
}

.u-section-1 .u-text-47 {
  font-weight: 700;
  margin: 0 auto 0 94px;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  margin: -36px auto 0 388px;
}

.u-section-1 .u-text-49 {
  font-weight: 700;
  margin: -36px auto 0 682px;
}

.u-section-1 .u-text-50 {
  font-weight: 700;
  margin: -36px auto 0 976px;
}

.u-section-1 .u-text-51 {
  font-weight: 700;
  margin: 0 auto 0 94px;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  margin: -36px auto 0 682px;
}

.u-section-1 .u-text-53 {
  font-weight: 700;
  margin: -36px auto 0 976px;
}

.u-section-1 .u-text-54 {
  font-weight: 700;
  margin: -36px auto 0 388px;
}

.u-section-1 .u-text-55 {
  font-weight: 700;
  margin: 0 1203px 0 92px;
}

.u-section-1 .u-text-56 {
  font-weight: 700;
  margin: -36px 909px 0 386px;
}

.u-section-1 .u-text-57 {
  font-weight: 700;
  margin: -36px 615px 0 680px;
}

.u-section-1 .u-text-58 {
  font-weight: 700;
  margin: -36px 321px 0 974px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1892px;
  }

  .u-section-1 .u-list-1 {
    width: 51px;
  }

  .u-section-1 .u-list-2 {
    width: 51px;
  }


  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1098px;
  }

  .u-section-1 .u-group-1 {
    width: 162px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1098px;
  }

  .u-section-1 .u-group-2 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 526px;
  }

  .u-section-1 .u-group-4 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 526px;
  }

  .u-section-1 .u-group-5 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 510px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 510px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 359px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 514px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 359px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 514px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 657px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 590px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 296px;
    margin-left: 361px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 2px;
    margin-left: 655px;
  }

  .u-section-1 .u-group-6 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-left: 510px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 510px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 359px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 514px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 359px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 514px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 657px;
    margin-left: 0;
  }

  .u-section-1 .u-text-56 {
    margin-right: 590px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 296px;
    margin-left: 361px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 2px;
    margin-left: 655px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 771px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 534px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 162px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-3 {
    width: 534px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 382px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 396px;
  }

  .u-section-1 .u-group-4 {
    width: 534px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 382px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 396px;
  }

  .u-section-1 .u-group-5 {
    width: 534px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 334px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 334px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 334px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 153px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 387px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 387px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 153px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 481px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 208px;
    margin-left: 273px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
    margin-left: 481px;
  }

  .u-section-1 .u-group-6 {
    width: 534px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 334px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 334px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 334px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 153px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 387px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 387px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 153px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 481px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-1 .u-text-57 {
    margin-right: 208px;
    margin-left: 273px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 0;
    margin-left: 481px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 871px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 372px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 386px;
  }

  .u-section-1 .u-group-4 {
    width: 520px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 372px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 386px;
  }

  .u-section-1 .u-group-5 {
    width: 520px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 320px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 320px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 320px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 377px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 377px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 467px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 467px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 201px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 467px;
  }

  .u-section-1 .u-group-6 {
    width: 520px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 320px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 320px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 320px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 377px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 377px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 467px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 467px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 201px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 229px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 238px;
  }

  .u-section-1 .u-group-4 {
    width: 320px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 229px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 238px;
  }

  .u-section-1 .u-group-5 {
    width: 320px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 120px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 120px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 120px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 267px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 267px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 101px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 267px;
  }

  .u-section-1 .u-group-6 {
    width: 320px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 120px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 120px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 120px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 267px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 267px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 101px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 267px;
  }
}