 .u-section-1 {
  min-height: 2152px;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 11px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -11px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 2287px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  min-height: 684px;
  width: 303px;
  height: auto;
  margin: 0 13px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 62px 63px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 51px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 37px auto 0 51px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 2287px;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 21px;
}

.u-section-1 .u-group-2 {
  min-height: 57px;
  width: 1348px;
  margin: 12px auto 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-group-3 {
  min-height: 224px;
  width: 1348px;
  margin: 1px auto 0 30px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  background-image: url("images/profile2.png");
  background-position: 50% 50%;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -160px auto 0 215px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 0 auto 0 215px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px auto 0 215px;
  padding: 10px 14px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 342px;
  padding: 10px 14px;
}

.u-section-1 .u-group-4 {
  min-height: 1116px;
  width: 1348px;
  margin: 9px auto 0 30px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-5 {
  min-height: 70px;
  width: 523px;
  margin: -1px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 11px;
}

.u-section-1 .u-group-6 {
  min-height: 88px;
  width: 523px;
  margin: 1px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  margin: -7px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -52px 35px 6px auto;
  padding: 10px 13px;
}

.u-section-1 .u-group-7 {
  min-height: 88px;
  width: 524px;
  margin: -2px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  font-size: 1.25rem;
  margin: -7px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -59px 35px 13px auto;
  padding: 10px 13px;
}

.u-section-1 .u-group-8 {
  min-height: 70px;
  width: 523px;
  margin: 44px auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 11px;
}

.u-section-1 .u-group-9 {
  min-height: 88px;
  width: 523px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  margin: -7px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -52px 35px 6px auto;
  padding: 10px 13px;
}

.u-section-1 .u-group-10 {
  min-height: 88px;
  width: 524px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  font-size: 1.25rem;
  margin: -7px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -59px 35px 13px auto;
  padding: 10px 13px;
}

.u-section-1 .u-group-11 {
  min-height: 88px;
  width: 524px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  font-size: 1.25rem;
  margin: -7px auto 0 20px;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -59px 35px 13px auto;
  padding: 10px 13px;
}

.u-section-1 .u-btn-19 {
  border-style: none none solid;
  margin: 64px auto 0 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 940px) / 2) + 1px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1886px;
  }

  .u-section-1 .u-group-1 {
    width: 162px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1886px;
  }

  .u-section-1 .u-group-2 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-group-3 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-btn-5 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-8 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-11 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-14 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-17 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-1 .u-group-2 {
    width: 534px;
  }

  .u-section-1 .u-group-3 {
    width: 534px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 162px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 162px;
  }

  .u-section-1 .u-group-4 {
    width: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 575px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
  }

  .u-section-1 .u-group-4 {
    width: 520px;
  }

  .u-section-1 .u-group-5 {
    width: 520px;
  }

  .u-section-1 .u-group-6 {
    width: 520px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 17px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 17px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 32px;
  }

  .u-section-1 .u-group-7 {
    width: 520px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 16px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 16px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 31px;
  }

  .u-section-1 .u-group-8 {
    width: 520px;
  }

  .u-section-1 .u-group-9 {
    width: 520px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 17px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 17px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 32px;
  }

  .u-section-1 .u-group-10 {
    width: 520px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 16px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 16px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 31px;
  }

  .u-section-1 .u-group-11 {
    width: 520px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 16px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 16px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-group-4 {
    width: 320px;
  }

  .u-section-1 .u-group-5 {
    width: 320px;
  }

  .u-section-1 .u-group-6 {
    width: 320px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    width: 320px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-group-8 {
    width: 320px;
  }

  .u-section-1 .u-group-9 {
    width: 320px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-group-10 {
    width: 320px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-1 .u-group-11 {
    width: 320px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
  }
}