 .u-section-1 {
  min-height: 2152px;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: calc(((100% - 1140px) / 2) + 1px);
  margin: 11px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1549px);
  margin: -11px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1500px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-1 .u-group-1 {
  min-height: 684px;
  width: 303px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 62px 63px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 51px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 37px auto 0 51px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 15px auto 0 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1666px;
}

.u-section-1 .u-container-layout-3 {
  padding: 11px 21px 3px;
}

.u-section-1 .u-group-2 {
  min-height: 57px;
  width: 1348px;
  margin: 70px auto 0 24px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1264px;
  width: 1372px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 105px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 35px 277px 0 auto;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: -33px 70px 0 auto;
  padding: 1px 0 3px;
}

.u-section-1 .u-group-4 {
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-14 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-15 {
  margin: -35px 261px 0 auto;
}

.u-section-1 .u-text-16 {
  margin: -36px 51px 0 auto;
}

.u-section-1 .u-text-17 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-group-5 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-19 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-20 {
  margin: -35px 261px 0 auto;
}

.u-section-1 .u-text-21 {
  margin: -36px 51px 0 auto;
}

.u-section-1 .u-text-22 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-group-6 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-24 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-25 {
  margin: -35px 261px 0 auto;
}

.u-section-1 .u-text-26 {
  margin: -36px 51px 0 auto;
}

.u-section-1 .u-text-27 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-group-7 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-29 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-30 {
  margin: -35px 261px 0 auto;
}

.u-section-1 .u-text-31 {
  margin: -36px 51px 0 auto;
}

.u-section-1 .u-text-32 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-group-8 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-5 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-34 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-35 {
  margin: -35px 261px 0 auto;
}

.u-section-1 .u-text-36 {
  margin: -36px 51px 0 auto;
}

.u-section-1 .u-text-37 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-group-9 {
  min-height: 104px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 34px auto 0 596px;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px auto 0;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px 596px 0 auto;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-group-10 {
  min-height: 105px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 35px 80px 0 auto;
  padding: 1px 0 3px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: -33px 296px 0 auto;
  padding: 1px 0 3px;
}

.u-section-1 .u-group-11 {
  min-height: 194px;
  width: 100%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-6 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-39 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-40 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-41 {
  margin: -63px 256px 0 auto;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: -36px 59px 0 auto;
}

.u-section-1 .u-group-12 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-7 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-44 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-45 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-46 {
  margin: -63px 256px 0 auto;
}

.u-section-1 .u-text-47 {
  font-weight: 700;
  margin: -36px 59px 0 auto;
}

.u-section-1 .u-group-13 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-17 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-8 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-49 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-50 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-51 {
  margin: -63px 256px 0 auto;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  margin: -36px 59px 0 auto;
}

.u-section-1 .u-group-14 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-9 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-53 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-54 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-55 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-56 {
  margin: -63px 256px 0 auto;
}

.u-section-1 .u-text-57 {
  font-weight: 700;
  margin: -36px 59px 0 auto;
}

.u-section-1 .u-group-15 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-10 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-58 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-59 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-60 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-61 {
  margin: -63px 256px 0 auto;
}

.u-section-1 .u-text-62 {
  font-weight: 700;
  margin: -36px 59px 0 auto;
}

.u-section-1 .u-group-16 {
  min-height: 104px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-20 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 34px auto 0 596px;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px auto 0;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px 596px 0 auto;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-group-17 {
  min-height: 105px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-22 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: 35px 80px 0 auto;
  padding: 1px 0 3px;
}

.u-section-1 .u-group-18 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-23 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-11 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-63 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-64 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-65 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-66 {
  font-weight: 700;
  margin: -63px 71px 0 auto;
}

.u-section-1 .u-group-19 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-24 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-12 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-67 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-68 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-69 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-70 {
  font-weight: 700;
  margin: -63px 71px 0 auto;
}

.u-section-1 .u-group-20 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-25 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-13 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-71 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-72 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-73 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-74 {
  font-weight: 700;
  margin: -63px 71px 0 auto;
}

.u-section-1 .u-group-21 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-26 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-14 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-75 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-76 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-77 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-78 {
  font-weight: 700;
  margin: -63px 71px 0 auto;
}

.u-section-1 .u-group-22 {
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-27 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-15 {
  width: 200px;
  height: 200px;
  margin: -8px auto 0 0;
}

.u-section-1 .u-text-79 {
  font-weight: 700;
  margin: -142px auto 0 200px;
}

.u-section-1 .u-text-80 {
  font-weight: normal;
  margin: -9px auto 0 200px;
}

.u-section-1 .u-text-81 {
  font-weight: normal;
  margin: -8px auto 0 200px;
}

.u-section-1 .u-text-82 {
  font-weight: 700;
  margin: -63px 71px 0 auto;
}

.u-section-1 .u-group-23 {
  min-height: 104px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-28 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 34px auto 0 596px;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px auto 0;
  padding: 3px 15px 4px 14px;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -36px 596px 0 auto;
  padding: 3px 15px 4px 14px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1835px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 1px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 911px;
  }

  .u-section-1 .u-group-1 {
    width: 162px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 911px;
  }

  .u-section-1 .u-group-2 {
    width: 710px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-tabs-1 {
    width: 710px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 394px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 135px;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 135px;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 135px;
  }

  .u-section-1 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 135px;
  }

  .u-section-1 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 135px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-image-6 {
    width: 100px;
    height: 100px;
  }

  .u-section-1 .u-text-38 {
    margin-top: -42px;
  }

  .u-section-1 .u-group-12 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 132px;
  }

  .u-section-1 .u-group-13 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 132px;
  }

  .u-section-1 .u-group-14 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 132px;
  }

  .u-section-1 .u-group-15 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-19 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 132px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-group-18 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-23 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-group-19 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-24 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-group-20 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-25 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-group-21 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-26 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-group-22 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-27 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 443px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 534px;
  }

  .u-section-1 .u-tabs-1 {
    width: 534px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 174px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-55 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-59 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-60 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-63 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-64 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-65 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-67 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-68 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-69 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-71 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-72 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-73 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-75 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-76 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-77 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-80 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-81 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 543px;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 540px) / 2) + 1px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-tabs-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-tabs-1 {
    width: 320px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-55 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-59 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-60 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-63 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-64 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-65 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-67 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-68 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-69 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-71 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-72 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-73 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-75 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-76 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-77 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-79 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-80 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-81 {
    margin-left: 92px;
  }
}