@charset "UTF-8";

footer {
    width: 100%;
    height: 130px;	
    position : relative;
    bottom : 0;
    transform : translateY(-100%);			
    margin: 0 auto;
    text-align: end;
    font-size: 13px;
    background-color: #fff;
}

footer button {
    width: 100px;
    height: 40px;
    margin: 40px 0 5px 8px;
    border: solid 1px #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000;
}

footer #footer_right {
	margin-right: 3%;
}

footer button:hover {
    background-color: black;
    color: white;
}

footer hr {
    border: 0px;
    border-top: 2px solid;
    margin: 0 3%;
}