 .u-section-1 {
  min-height: 3645px;
}

.u-section-1 .u-image-1 {
  height: 266px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-1 {
  width: 1092px;
  margin: 122px auto 0;
}

.u-block-e3ea-90 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-block-e3ea-105 {
  height: 46px;
}

.u-section-1 .u-list-1 {
  width: 191px;
  margin: -323px auto 0 calc(((100% - 1140px) / 2) + 219px);
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 44px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 -1px;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 -1px;
  padding: 0;
}

.u-section-1 .u-list-2 {
  width: 218px;
  margin: 171px auto 0 calc(((100% - 1140px) / 2) + 219px);
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 44px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-3 {
  width: 218px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + 219px);
}

.u-section-1 .u-repeater-3 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 44px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-4 {
  width: 218px;
  margin: -162px auto 0 calc(((100% - 1140px) / 2) + 219px);
}

.u-section-1 .u-repeater-4 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 44px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-5 {
  width: 218px;
  height: auto;
  min-height: 44px;
  margin: -103px auto 0 calc(((100% - 1140px) / 2) + 219px);
}

.u-section-1 .u-repeater-5 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 44px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-6 {
  width: 331px;
  margin: -88px auto 0 calc(((100% - 1140px) / 2) + 219px);
}

.u-section-1 .u-repeater-6 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 44px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
}

.u-section-1 .u-container-layout-11 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 -1px;
  padding: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 -1px;
  padding: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 -1px;
  padding: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 0 10px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 -1px;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  border-style: none none solid;
  font-size: 1.25rem;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 245px auto 0 calc(((100% - 1140px) / 2) + 75px);
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -27px auto 0 calc(((100% - 1140px) / 2) + 200px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 117px auto 0 calc(((100% - 1140px) / 2) + 22px);
}

.u-section-1 .u-btn-15 {
  border-style: none none solid;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -42px calc(((100% - 1140px) / 2) + 208px) 0 auto;
  padding: 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  width: 1140px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2) + -13px);
}

.u-section-1 .u-list-7 {
  width: 1045px;
  margin: 84px auto 60px;
}

.u-section-1 .u-repeater-7 {
  grid-gap: 100px 100px;
  grid-template-columns: calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px);
  min-height: 2112px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-5 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-1 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-11 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-2 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-16 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-17 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-3 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-22 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-23 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-26 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-4 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-28 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-29 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-31 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-5 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-34 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-35 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-37 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-38 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-6 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-40 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-41 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-43 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-44 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-7 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-45 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-46 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-47 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-49 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-50 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-8 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-51 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-52 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-53 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-54 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-55 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-56 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-9 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-57 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-58 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-59 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-60 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-61 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-62 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-10 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-63 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-64 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-65 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-66 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-67 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-68 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-11 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

.u-section-1 .u-container-layout-25 {
  padding: 0;
}

.u-section-1 .u-image-13 {
  width: 303px;
  height: 235px;
  margin: 0 auto;
}

.u-section-1 .u-text-69 {
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-70 {
  margin: 6px auto 0 2px;
}

.u-section-1 .u-text-71 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-72 {
  font-weight: 700;
  margin: 18px auto 0 2px;
}

.u-section-1 .u-text-73 {
  font-size: 1rem;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-74 {
  font-size: 1rem;
  margin: 19px auto 0 39px;
}

.u-section-1 .u-icon-12 {
  width: 31px;
  height: 31px;
  margin: -23px auto 0 2px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
    height: 334px;
    margin-top: -669px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: -672px;
    margin-left: calc(((100% - 940px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  }

  .u-section-1 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-2 {
    border-style: none none solid;
  }

  .u-section-1 .u-list-2 {
    margin-top: 588px;
    margin-left: calc(((100% - 940px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-btn-3 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-4 {
    border-style: none none solid;
  }

  .u-section-1 .u-list-3 {
    height: auto;
    min-height: 44px;
    margin-left: calc(((100% - 940px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-btn-5 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-6 {
    border-style: none none solid;
  }

  .u-section-1 .u-list-4 {
    margin-left: calc(((100% - 940px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-btn-7 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-8 {
    border-style: none none solid;
  }

  .u-section-1 .u-list-5 {
    margin-left: calc(((100% - 940px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  }

  .u-section-1 .u-btn-9 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-10 {
    border-style: none none solid;
  }

  .u-section-1 .u-list-6 {
    margin-left: calc(((100% - 940px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-1 .u-btn-11 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-12 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-13 {
    border-style: none none solid;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -183px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 22px);
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 940px) / 2) + 8px);
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-7 {
    width: 940px;
  }

  .u-section-1 .u-repeater-7 {
    min-height: 1293px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 4203px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-top: 160px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: 803px;
    margin-left: calc(((100% - 720px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-list-2 {
    margin-top: -268px;
    margin-left: calc(((100% - 720px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-list-3 {
    margin-top: -94px;
    margin-left: calc(((100% - 720px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-list-4 {
    margin-top: -108px;
    margin-left: calc(((100% - 720px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-list-5 {
    min-height: 132px;
    margin-top: 10px;
    margin-left: calc(((100% - 720px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-list-6 {
    margin-top: -34px;
    margin-left: calc(((100% - 720px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 132px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }

  .u-section-1 .u-btn-14 {
    margin-top: -1031px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 22px);
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-7 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-7 {
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
    min-height: 2228px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 7216px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: -6px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: 4168px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    margin-top: -102px;
    margin-left: calc(((100% - 540px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-list-3 {
    margin-left: calc(((100% - 540px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-list-4 {
    margin-left: calc(((100% - 540px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-4 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-list-5 {
    margin-top: -240px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-list-6 {
    margin-top: 216px;
    margin-left: calc(((100% - 540px) / 2) + 219px);
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-btn-14 {
    margin-top: -4769px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 150px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-7 {
    width: 540px;
  }

  .u-section-1 .u-repeater-7 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 7244px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: 4142px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    margin-top: -156px;
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-1 .u-list-3 {
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-1 .u-list-4 {
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-1 .u-list-5 {
    margin-top: 10px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-6 {
    margin-top: -34px;
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-1 .u-repeater-6 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -4689px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 94px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2) + 22px);
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-7 {
    width: 340px;
  }
}